#admin_bar{
position:fixed;left:0px;top:0px;z-index:10;width:98%;background-color:#000;margin:0px auto;color:#fff;padding:1%;box-shadow:0px 0px 8px grey;margin-bottom:20px;
}

#admin_bar a{
color:#C8E846;
text-decoration:none;
}